.centralizar, h1 {
    text-align: center;
    font-size: 20px;
    color: rgb(180, 180, 180);
}
#fundo {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.caixa {
    background-color: rgb(131, 49, 49);
    width: calc(100% - 40px);
    min-height: calc(100dvh - 40px);
    margin: 20px;
    border-radius: 10px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
button {
    background-color: rgb(131, 49, 49);
    color: rgb(180, 180, 180);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(105, 30, 30);
    color:rgb(204, 204, 204);
    border: 1px solid rgb(70, 18, 18);
}
.oculta {
  display: none;
}
.ativa {
  display: block;
}
footer {
    color: rgb(180, 180, 180);
    font-size: 10px;
    margin-top: auto;
    border-top-width: 2px;
    border-top-color: rgb(180, 180, 180);
    border-top-style: solid;
}
footer p {
    margin: 5px;

}
#lista-classes, #lista-origens {
    display: grid;
    margin: 10px;
    /* O segredo: ele calcula quantas colunas cabem com no mínimo 200px */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-items: center; /* Centraliza o card dentro da "célula" do grid */
}
.classe-card{
    width: 100%;
    max-width: 250px;
    min-height: 200px;
    border: 1px solid rgb(180, 180, 180);
    padding: 10px;
    color: rgb(180, 180, 180);
    box-sizing: border-box;
}